In [1]:
import pandas as pd

In [8]:
data = pd.read_csv('medicaldata.csv')
data

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [12]:
# 1. Identify and handle missing values using .isnull() in Python or filters in Excel.
null_value = data.isnull().sum()
print("Missing values per column:\n", null_value)

Missing values per column:
 PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [14]:
data = data.dropna()

In [16]:
# 2. Remove duplicate rows using .drop_duplicates() or Excel’s “Remove Duplicates”.
data = data.drop_duplicates()
data

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [56]:
# 3. Standardize text values like gender, country names, etc
if 'Gender' in data.columns:
    data['Gender'] = data['Gender'].replace({'f': 'female','m': 'male'})
data

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no-show
0,2.987250e+13,5642903,female,29-04-2016,29-04-2016,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,male,29-04-2016,29-04-2016,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,female,29-04-2016,29-04-2016,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,female,29-04-2016,29-04-2016,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,female,29-04-2016,29-04-2016,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,female,03-05-2016,07-06-2016,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,female,03-05-2016,07-06-2016,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,female,27-04-2016,07-06-2016,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,female,27-04-2016,07-06-2016,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,female,27-04-2016,07-06-2016,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [42]:
# 4.Convert date formats to a consistent type (e.g., dd-mm-yyyy). 
data['ScheduledDay'] = pd.to_datetime(data['ScheduledDay'])
data['AppointmentDay'] = pd.to_datetime(data['AppointmentDay'])
data['ScheduledDay'] = data['ScheduledDay'].dt.strftime('%d-%m-%Y')
data['AppointmentDay'] = data['AppointmentDay'].dt.strftime('%d-%m-%Y')
data

C:\Users\CHAIT\AppData\Local\Temp\ipykernel_4112\3185633037.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data['ScheduledDay'] = pd.to_datetime(data['ScheduledDay'])
C:\Users\CHAIT\AppData\Local\Temp\ipykernel_4112\3185633037.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data['AppointmentDay'] = pd.to_datetime(data['AppointmentDay'])

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,female,29-04-2016,29-04-2016,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,male,29-04-2016,29-04-2016,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,female,29-04-2016,29-04-2016,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,female,29-04-2016,29-04-2016,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,female,29-04-2016,29-04-2016,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,female,03-05-2016,07-06-2016,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,female,03-05-2016,07-06-2016,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,female,27-04-2016,07-06-2016,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,female,27-04-2016,07-06-2016,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,female,27-04-2016,07-06-2016,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [45]:
# 5. Rename column headers to be clean and uniform (e.g., lowercase, no spaces).
data.columns = data.columns.str.strip().str.lower().str.replace(" ", "_")
data

,patientid,appointmentid,gender,scheduledday,appointmentday,age,neighbourhood,scholarship,hipertension,diabetes,alcoholism,handcap,sms_received,no-show
0,2.987250e+13,5642903,female,29-04-2016,29-04-2016,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,male,29-04-2016,29-04-2016,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,female,29-04-2016,29-04-2016,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,female,29-04-2016,29-04-2016,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,female,29-04-2016,29-04-2016,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,female,03-05-2016,07-06-2016,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,female,03-05-2016,07-06-2016,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,female,27-04-2016,07-06-2016,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,female,27-04-2016,07-06-2016,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,female,27-04-2016,07-06-2016,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [53]:
# 6. Check and fix data types (e.g., age should be int, date as datetime).
data.age.info()
# data is already in int format

<class 'pandas.core.series.Series'>
RangeIndex: 110527 entries, 0 to 110526
Series name: age
Non-Null Count   Dtype
--------------   -----
110527 non-null  int64
dtypes: int64(1)
memory usage: 863.6 KB